Package: helper
Version: 0.67-1
Section: misc
Priority: optional
Architecture: amd64
Depends:
Maintainer: Jacob Davie
Description: My colletion of bash scripts combined into one script to help make my (and your) life that much easier
